<ngb-carousel *ngIf="drinks" [showNavigationArrows]="!showNavigationArrows"
  [showNavigationIndicators]="!showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let drink of drinks">
    <div id="slide">
      <img id="drink-image" [src]="drink.imageUrl" alt="drink slide" (click)="prev()">
      <div class="carousel-caption">
        <h3 id="drink-name"><strong>{{drink.name}}</strong></h3>
        <hr>
        <p>{{drink.description}} </p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>