ngb-carousel {
    padding-top: 80px;
    width: 100%;
    background: black;
    padding-bottom: 10px;
    background: url('../../assets/img/bar.jpg') fixed;
}
ngb-carousel:focus {
    outline: none;
    border: 0;
 }

img {
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
    -moz-box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
    box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
}

.carousel-captions {
    margin-bottom: 200px;
    margin-left: 200px;
    height: 500px;
    width: 800px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-shadow: white 0px 0px 5px;
    box-shadow: 2px 0px 21px -2px rgba(255,255,255,.7);
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-caption {
    height: 100%;
    width: 37%;
    font-size: 30px;
    display: block;
    margin-left:auto; 
    margin-right:0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6%;
    text-shadow: white 0px 0px 5px;
    text-align: left !important;
}

#slide {
    background: rgba(0, 0, 0, 0.8);
    height: 95%;
    width: 80%; 
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
    -moz-box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
    box-shadow: 2px 0px 21px -2px rgba(255,255,255,1);
}

hr {
    background-color: white;
    width: 20%;
    left: 0;
    margin-right: 85%;
    margin-bottom: 5%;
}

#drink-name {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .carousel-caption {
        font-size: 27px;
    }
    img {
        width: 50%;
    }
    .carousel-caption {
        width: 30%;
        padding-top: 12%;
    }
}
