<div id="black-back">

  <div id="welcome">
    <img id="logo" src="../../assets/img/lennysipss.jpg">
    <div id="bio" class="left-align">
      <br>
      <h1 id="welcome-text"><strong>Welcome to LennySipss</strong></h1>
      <span id="cocktail-header">Creative Cocktails & Drink
        Log</span> <br>
      &nbsp;📍 &nbsp; NYC <br>
      👶&nbsp; 22 Y/O mixologist <br>
      🥃&nbsp; Content Creator <br>
      🍹&nbsp; Creative Cocktails Page <br>
      🌎&nbsp; Restaurant/Bar Reviewer <br>
    </div>
    <hr>
  </div>
</div>

<div id="white-back">
  <div id="cocktails">
    <img id="drink-pic"
      src="https://scontent-iad3-1.cdninstagram.com/vp/bf472b6a9b1f1b097650ede79a042df1/5D139FB4/t51.2885-15/sh0.08/e35/s640x640/50847811_529764744200298_5001335936495768516_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com">
  </div>
  <div id="about-cocktails">
    <h1><strong>Creative Cocktails</strong></h1>
    <p>"I love creating new Cocktail recipes, it's my passion."</p>
    <br>
    <br>
    <h4><strong>Visit the bar and take a look!</strong></h4>
    <br>
  </div>
  <a routerLink="/bar">Menu</a>
</div>