<div id="black-back">

  <div id="welcome">
    <img id="logo"
      src="https://scontent-iad3-1.cdninstagram.com/vp/170fed6b8678cfbb016effc137969204/5D4F0F8B/t51.2885-19/s320x320/49562162_349291239134884_1990166374701334528_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com">
    <div id="bio" class="left-align">
      <br>
      <h1 id="welcome-text"><strong>Welcome to LENNYSIPSS</strong></h1>
      <span id="cocktail-header">&nbsp;Creative Cocktails & Drink Log</span> <br>
      &nbsp;📍 &nbsp; NYC <br>
      👶&nbsp; 22 Y/O mixologist <br>
      🥃&nbsp; Content Creator <br>
      🍹&nbsp; Creative Cocktails Page <br>
      🌎&nbsp; Restaurant/Bar Reviewer <br>
    </div>
    <hr>
  </div>
</div>

<div id="white-back">
  <div id="cocktails">
    <img id="drink-pic"
      src="https://scontent-iad3-1.cdninstagram.com/vp/de1b7b13643b1d484255048dce191841/5D465639/t51.2885-15/sh0.08/e35/s640x640/54210568_271376280451130_684247539781722871_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com">
  </div>
  <div id="about-cocktails">
    <h1><strong>Creative Cocktails</strong></h1>
    <br>
    <p>"I love creating new Cocktail recipes, it's my passion."</p>
    <br>
    <br>
    <h4><strong>Visit the bar and take a look!</strong></h4>
    <br>
  </div>
  <a routerLink="/bar">BAR</a>
</div>
<br>

<div id="grey-back">
  <img id="drink-review"
    src="https://scontent-iad3-1.cdninstagram.com/vp/3fc2db6227d6a75a57b1b24085f5f1dc/5D12C498/t51.2885-15/sh0.08/e35/s640x640/41401514_2173343149601117_848396871466433400_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com">
  <div id="about-reviews">
    <h1><strong>Bar Reviews</strong></h1>
    <br>
    <p>"I visit bars and restaurants to get inspiration for my<br> next drink. <span style=" padding-right: 60px">One
        day I'm going to open a bar."</span></p>
  </div>
  <a id="review-btn" routerLink="/reviews">REVIEWS</a>
</div>

<div id="black-back" style="height:560px; text-align:center;">
  <h1 class="header">Contact</h1>
  <app-contact></app-contact>
  <a id="ig-link" href="https://www.instagram.com/lennysipss/" target="_blank">
    <img id="ig-icon" src="https://img.icons8.com/color/48/000000/instagram-new.png">
    <span id="ig-ls">LENNYSIPSS</span>
  </a>
</div>