/* Add a black background color to the top navigation */
.navbar {
  background-color: rgba(0, 0, 0, .9);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
  
  /* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
  
  /* Change the color of links on hover */
.navbar a:hover {
  border-radius: 10px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, .6) 0px 0px 5px;
}
  
  /* Add a color to the active/current link */
.navbar a.active {
  
}

#nav-title {
  font-size: 23px;
  font-style: bold;
  font-family: 'Oswald', sans-serif;
  margin-left: 30px;
}

.nav-right {
  float: right;
  padding-right: 80px;
  font-family: 'Oswald', sans-serif;
}
