h1 {
    font-family: 'Oswald', sans-serif;
}

form {
    padding-top: 30px;
    margin: auto;
    width: 40%;
}

button {
    background: rgb(22, 22, 22);
    border: white solid 2px;
    padding: 3px 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 3px;
    display: block;
}

button:hover {
    background: rgb(255, 255, 255);
    color: rgb(22, 22, 22);
    transition-duration: .3s;
}

.header-text {
    text-align: left;
    color:white;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.form-control:focus {
    border-color: rgba(104, 104, 104, .3);
    box-shadow:0 1px 1px 0 rgba(161, 161, 161, 0.33);
}

