.modal-content{
    margin-top: 7%;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.5);
    background: rgba(0, 0, 0, .9);
}

.modal-body, .modal-header, .modal-footer {
    color: white;
    text-align: center;
    font-size: 20px;
}

.modal-header {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-shadow: rgba(255, 255, 255, .6) 0px 0px 7px;
}

video:focus {
    outline: none;
}

hr {
    width: 80% !important;
    background:white;
}

#modal-trigger {
    background:black;
    border: white solid 2px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

#modal-trigger:hover {
    background: rgb(255, 255, 255);
    color: black;
    transition-duration: .3s;
}

#modal-trigger:focus{
    outline:none;
}

video {
    height: 400px;
    width: 700px;
    border: rgb(255, 255, 255, .3) 1px solid;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,0.2);
}

.ingredient-label {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
  
}
.ingredients {
    font-size: 16px;
    float: left;
    text-align: left;
    border-left: 1px white solid;
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
}

.description {
    width:75%;
    float: left;
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      video {
        height: 350px;
        width: 620px;
      }

  }
