<button id="modal-trigger" class="col-12" data-toggle="modal" data-target="#exampleModalCenter">Recipe</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" (click)=clicked(drink)>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title col-12" id="exampleModalLongTitle">
          <strong>{{drink.name}}</strong></h5>
      </div>
      <div class="modal-body">
        <div *ngIf="drink.videoUrl">
          <video *ngIf="drink" height="400" controls src="../../assets/img/sweet-spring-break.mp4">
          </video>
        </div>
      </div>
      <div class="modal-body">
        <hr style="background:white;">
        {{drink.description}}
      </div>

    </div>
  </div>
</div>