<div class="col-4">
    <input id="search-bar2" type="text" [(ngModel)]="searchText" (input)="search()" class="search-nav form-control"
        type="text" placeholder="Drink, Restaurant, Bar" name="search" autocomplete="off">
</div>

<div class="masthead">
    <div class="dark-overlay">
        <div class="masthead-text">
            Restaurant and Bar Reviews
        </div>
    </div>
</div>

<div>
    <div class="placeholder" *ngIf="!filteredReviews">
        <div class="d-flex">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div *ngIf="filteredReviews && filteredReviews.length !== 0; else placehold">
        <div *ngFor="let review of filteredReviews; index as i">
            <app-review-card [review]="review" [background]="i % 2 == 0? 'white-back' : 'grey-back'">
            </app-review-card>
        </div>
    </div>

    <ng-template #placehold>
        <div class="placeholder">
            <div class="d-flex" style="margin:auto;">
                <span class="center-text" style="margin:auto">No results</span>
            </div>
        </div>
    </ng-template>

</div>
<div class="footer">
    <div class="dark-footer">
        <a href="https://www.instagram.com/lennysipss/" target="_blank">
            <img id="logo"
                src="https://scontent-iad3-1.cdninstagram.com/vp/170fed6b8678cfbb016effc137969204/5D4F0F8B/t51.2885-19/s320x320/49562162_349291239134884_1990166374701334528_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com">
        </a>
    </div>
</div>